.centered-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.maintenance-description {
  position: absolute;
  top: 122px;
  left: 28px;
  width: 195px;
  text-align: center;
  font-size: 11px;
  color: #93a0aa;
}

.network-name {
  position: absolute;
  left: 28px;
  top: 72px;
  width: 195px;
  overflow: hidden;
}

.network-address {
  position: absolute;
  left: 28px;
  top: 96px;
  width: 195px;
  color: #82bca9;
}
