.slider {
  position: relative;
  width: 193px;
  height: 14px;
  margin-left: 5px;
  touch-action: pan-y;
  cursor: ew-resize;
}

.slider-track,
.slider-fill {
  position: absolute;
  top: 5px;
  left: 0;
  width: 193px;
  height: 4px;
  border-radius: 2px;
  background: #343d45;
}

.slider-thumb {
  position: absolute;
  top: 0;
  width: 12px;
  height: 14px;
  margin-left: -6px;
  border-radius: 6px;
}
